html {
  position: relative;
  min-height: 100%;
}
body {
  background-color: antiquewhite;
}

.logo {
  height: 2.5rem;
  margin-right: 2.5rem;
}

.heading {
  font-size: 3rem;
  color: rgb(114, 114, 117);
  margin-top: 4rem;
  text-align: center;
}

.photo-gallery {
  width: 1300px;
  margin: 2rem auto;
}
.photo-gallery .gallery-title {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}
.images {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 80vh;
  overflow: scroll;
  padding: 0.7rem 1rem;
  background: #f1f1f1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image {
  height: 400px;
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}
.image > img {
  margin-left: 12px;
}
.image img {
  border-radius: 6px;
  height: 100%;
  z-index: 1;
}
.image .dialog-box {
  display: none;
  position: absolute;
  height: 70px;
  width: 400px;
  margin-left: 12px;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 2;
  border-radius: 6px;
  transition: 0.5s all;
}
.dialog-message {
  display: flex;
  width: 100%;
  height: 24px;
  margin-top: 24px;
}
.dialog-message p {
  color: #222;
  font-size: 16px;
  margin-left: 70px;
  margin-right: 22px;
  font-weight: bold;
}
.dialog-message .yes,
.no {
  padding: 4px 16px;
  margin-right: 16px;
  border: none;
  border-radius: 50%;
  transition: 0.2s;
}
.yes {
  color: white;
  background: rgb(12, 221, 44);
  cursor: pointer;
}
.no {
  color: white;
  background: rgb(221, 12, 44);
  cursor: pointer;
}
.yes:hover,
.no:hover {
  transform: scale(1.1);
}
/**********action-forms**************************/
.actions {
  width: 1300px;
  margin: 2rem auto;
  height: 300px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-evenly;
  padding: 0.7rem 2rem;
}
.actions div,
.actions form {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
form.submit-form {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.file::-webkit-file-upload-button {
  padding: 12px 24px;
  background: rgb(134, 76, 134);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.file::-webkit-file-upload-button:hover {
  opacity: 0.9;
}
.btn {
  padding: 12px 24px;
  border: none;
  background: rgb(231, 9, 65);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  opacity: 0.8;
}
